// app.scss

// Color palette
@import './components/colors';

// Components
@import './components/banner';
@import './components/page-content';
@import './components/SearchBar';
@import './components/suggestion-menu';
@import './components/FoodItemList';
@import './components/App';
@import './components/TotalPanel';
@import './components/SearchPanel';
@import './components/ListPanel';
@import './components/SearchResults';
@import './components/Count';
@import './components/AddBtn';

// Fonts todo download locally
@import url('https://fonts.googleapis.com/css?family=Baloo');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
	padding: 0;
	margin: 0;
	color: $MATTE;
	background-color: $LYNX_WHITE;
	font-family: 'Noto Sans', sans-serif;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

h1,
h2 {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#layout-banner {
	width: 100%;
	position: relative;
	box-sizing: border-box;
	flex-basis: 94px;
}

#layout-content {
	box-sizing: border-box;
	flex: 1 1 auto;
	overflow-y: auto;
}

#layout-footer {
	background-color: $ELECTROMAGNETIC;
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	flex: 0 0 90px;
}
