// index.scss

// Small-ish screens
@media all and (max-width: 90em) and (min-width: 25em) and (orientation: portrait) {
	body {
		font-size: 1em;
	}
	.banner {
		justify-content: center;
	}

	.App {
		grid-template-rows: 4em 1fr 14em;
		grid-template-columns: 100% auto;
	}
}
