.App {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row;
	overflow: hidden;

	.App-header {
		position: relative;
		flex: 0 0 70px;
	}
	.App-content {
		position: relative;
		overflow-y: auto;
		background-color: $LYNX_WHITE;
		border-radius: 1px;
		box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
		padding: 10px;
		flex-grow: 1;
	}
	.App-footer {
		position: relative;
		box-sizing: border-box;
		padding: 20px 10px 20px 0;
		width: 100%;
		flex: 0 0 70px;
	}

	.App-searchPanel {
		flex: 0 0 23%;
	}

	.App-listPanel {
		flex: 1 1 auto;
	}

	.App-totalPanel {
		flex: 0 0 25%;
	}
}
