// colors.scss

$MATTE: #414141;
$FRESH: #ccdfcb;
$WATERMELON: #ff6a5c;
$TEAL: #056571;
$LYNX_WHITE: #f5f6fa;
$WHITE: #fff;
$HINT_OF_PENSIVE: #dcdde1;
$ELECTROMAGNETIC: #2f3640;
$CHAIN_GANG_GREY: #718093;
