.FoodItemList {
	font-size: 0.8em;
	width: 100%;

	.FoodItem {
		padding: 10px;
		border-radius: 7px;
		display: flex;
		flex-flow: row;
		width: 100%;
		height: 100px;
		box-sizing: border-box;

		.FoodItem-prop {
			padding: 10px;
		}

		.FoodItem-name {
			font-weight: bold;
			font-size: 0.9em;
			flex: 1 1 auto;
			overflow: auto;
			height: 100%;
		}
		.FoodItem-caloriesPerItem {
			font-size: 0.6em;
		}
		.FoodItem-count {
			flex: 0 0 37%;
			.QuantityInput {
				.QuantityValue {
					width: 40px;
				}
			}
		}
		.FoodItem-remove {
			flex: 0 0 70px;
		}
	}
}
