.ListPanel {
	display: flex;
	flex-flow: column;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;

	.ListPanel-header {
		flex: 0 0 50px;
		padding: 20px;
		border-bottom: solid 1px #eee;
		font-weight: bold;
		align-items: center;
		display: flex;
		font-size: 1.6em;
		justify-content: center;
		font-family: 'Oswald', sans-serif;
	}

	.ListPanel-content {
		flex: 1 1 auto;
		overflow: auto;
	}
}
