.SearchResults {
	height: 100%;
	padding: 0 30px 30px 30px;
	box-sizing: border-box;

	.SearchResults-results {
		.SearchResult {
			padding: 15px 0 15px 0;
			border-top: solid 1px #bbb;
			display: flex;
			flex-flow: row;
			color: $LYNX_WHITE;

			.SearchResult-name {
				font-weight: bold;
				font-size: 0.6em;
				flex: 1 1 auto;
				display: flex;
				align-items: center;
			}
			.SearchResult-add {
				flex: 0 0 85px;
				text-align: center;
			}
		}
	}

	.SearchResults-loading {
		padding: 15px 0 15px 0;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.Loader {
			font-size: 1.6em;
		}
	}

	.SearchResults-noResults,
	.SearchResults-err {
		padding: 15px 0 15px 0;
		font-weight: bold;
		color: $WATERMELON;
		font-size: 0.8em;
	}
}
