.SearchPanel {
	height: 100%;
	display: flex;
	flex-flow: column;
	align-content: center;
	box-sizing: border-box;
	background-color: #353b48;
	color: $LYNX_WHITE;

	.SearchPanel-header {
		flex: 0 0 75px;
	}

	.SearchPanel-content {
		flex: 1 1 auto;
		overflow: auto;
	}
}

// Phones
@media (min-width: 20em) and (max-width: 90em) and (orientation: portrait) {
	.SearchPanel {
		z-index: 9999;
	}
}


