.SearchResults {
	padding: 30px;

	.SearchResult {
		padding: 15px 0 15px 0;
		border-top: solid 1px #bbb;
		display: flex;
		flex-flow: row;
		color: $LYNX_WHITE;

		.SearchResult-name {
			font-weight: bold;
			font-size: 0.6em;
			flex: 1 1 auto;
		}
		.SearchResult-add {
			flex: 0 0 85px;
			text-align: center;
		}
	}
}
