.SearchBar {
	padding: 30px 20px 30px 30px;
	display: flex;
	flex-flow: row;
	overflow: hidden;
	align-items: center;
	box-sizing: border-box;

	.SearchBar-search {
		flex: 1 1 auto;
		height: 3.2em;
		font-size: 0.8em;
		box-sizing: border-box;
		border: 1px solid $ELECTROMAGNETIC;
		background-color: $ELECTROMAGNETIC;
		color: $LYNX_WHITE;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
		outline: none;
		padding-left: 1em;
	}

	.SearchBar-btn {
		flex: 0 0 40px;
		color: #70756e;
		background-color: $ELECTROMAGNETIC;
		border: #657173;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		cursor: pointer;
		outline: none;
		font-size: 0.8em;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 3.2em;
		&:hover {
			color: $LYNX_WHITE;
		}
	}

	.SearchBar-fold {
		flex: 0 0 1em;
		font-size: 1.8em;
		display: flex;
		justify-content: center;
		cursor: pointer;

		&:hover {
			color: #eee;
		}
	}
}
