.TotalPanel {
	color: $MATTE;
	width: 100%;
	box-sizing: border-box;
	font-size: 1.1em;
	box-sizing: border-box;
	height: 100%;

	.TotalPanel-Total {
		background-color: #eee;
		box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
		width: 100%;
		font-weight: bold;
		box-shadow: none;
		box-sizing: border-box;
		height: 100%;
		.TotalPanel-header {
			padding: 15px;
			padding-bottom: 10px;
			font-size: 1em;
			font-weight: bold;
			border-bottom: solid 1px #ececec;
			background-color: #eee;
			border: solid 1px #e8e2e2;
			box-sizing: border-box;
			height: 20%;
		}
		.TotalPanel-content {
			font-size: 0.8em;
			box-sizing: border-box;
			height: 80%;
			padding: 15px;
			.TotalDetails {
				padding-top: 10px;
				width: 100%;
				.TotalDetailsProp {
					.TotalDetailsProp-name {
					}
					.TotalDetailsProp-valueUnit {
					}
				}
			}
		}
	}
}

// Phones
@media (min-width: 20em) and (max-width: 90em) and (orientation: portrait) {
	.TotalPanel {
	}
}
