.App {
	width: 100%;
	min-height: 100%;
	display: grid;
	overflow: hidden;
	font-size: 1.3em;

	&.App-searchPanel--folded {
		grid-template-columns: 0 auto;
	}

	.App-panel {
		overflow: auto;
	}
	.App-bannerPanel {
		box-sizing: border-box;
		grid-row: 1 / 2;
		grid-column: 1 / 4;
	}
	.App-totalPanel {
		grid-row: 3 / 4;
		grid-column: 2 / 4;
		font-size: 0.8em;
		position: relative;
	}
	.App-searchPanel {
		grid-row: 2 / 4;
		grid-column: 1 / 1;
	}
	.App-listPanel {
		grid-row: 2 / 3;
		grid-column: 2 / 4;
	}
}

