<div class="banner">
	<a class="banner-title-wrapper" href="/">
		<span class="banner-logo-wrapper">
			LOGO
		</span>
		<span class="banner-title">
			{{htmlWebpackPlugin.options.common.banner.title}}
		</span>
	</a>
</div>