<div class="banner">
	<div class="banner-title-wrapper">
		<span class="banner-logo-wrapper">
			LOGO
		</span>
		<span class="banner-title">
			{{htmlWebpackPlugin.options.common.banner.title}}
		</span>
	</div>
</div>