<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="{{ htmlWebpackPlugin.files.chunks.main.css }}" />
		<title>
			{{htmlWebpackPlugin.options.common.title}}
		</title>
	</head>
	<body>
		<div id="layout-banner">
			{{> ../components/banner}}
		</div>
		<div id="layout-content">
			{{#> content}}
			{{/content}}
		</div>
{{!-- 		<div id="layout-footer">
			{{> ../components/footer}}
		</did> --}}
		<script src="{{ htmlWebpackPlugin.files.chunks.main.entry }}"></script>
	</body>
</html>