// index.scss

@media only screen and (max-width: 25em) and (orientation: portrait) {
	body {
		font-size: 0.9em;
	}
	.App {
		grid-template-columns: 100% auto;
		grid-template-rows: 4em 1fr 13em;
	}

	.SearchResults {
		font-size: 1.3em;
	}
}
