// index.scss

@media only screen and (max-width: 30em) and (orientation: portrait) {
	body {
		font-size: 0.9em;
	}
	.App {
		grid-template-columns: 100% auto;
		grid-template-rows: 4em 1fr 12em;
	}

	.SearchResults {
		font-size: 1.3em;
	}

	.TotalPanel .TotalPanel-content .TotalDetails {
		font-size: 1.1em;
		.TotalDetailsProp .TotalDetailsProp-name {
			flex: 1 1 75%;
		}
	}
	.banner {
		justify-content: center;
	}
}

@media only screen and (max-width: 30em) and (orientation: landscape) {
	body {
		font-size: 0.9em;
	}
	.App {
		grid-template-columns: 100% auto;
		grid-template-rows: 4em 1fr;
	}

	.SearchResults {
		font-size: 1.3em;
	}

	.App-totalPanel {
		display: none;
	}
}
